In [2]:
from pandas_datareader import data
import pandas as pd
import datetime

START_DATE = datetime.datetime(2014, 4, 1)
END_DATE = datetime.datetime(2018, 1, 5)
SYMBOLS = ['MKS.L', 'TSCO.L']

mks_panel = data.DataReader('MKS.L', 'yahoo', START_DATE, END_DATE) 
mks_panel.to_excel('MKS.xlsx')
tsco_panel = data.DataReader('TSCO.L', 'yahoo', START_DATE, END_DATE) 
tsco_panel.to_excel('TSCO.xlsx')

In [33]:
panel_data

mks_df = panel_data.to_frame()
#.unstack(level=1)
df.columns = df.columns.swaplevel(0,1)
#df.info()
df.head(6)

minor,MKS.L,TSCO.L,MKS.L,TSCO.L,MKS.L,TSCO.L,MKS.L,TSCO.L,MKS.L,TSCO.L,MKS.L,TSCO.L
,Adj Close,Adj Close,Close,Close,High,High,Low,Low,Open,Open,Volume,Volume
Date,,,,,,,,,,,,
2018-01-05,313.700012,209.699997,313.700012,209.699997,314.399994,212.100006,305.500000,208.899994,307.799988,211.100006,7502832.0,22858842.0
2018-01-04,308.799988,211.199997,308.799988,211.199997,316.700012,211.300003,306.899994,209.300003,316.000000,210.399994,17123122.0,24351596.0
2018-01-03,320.500000,209.600006,320.500000,209.600006,328.799988,209.699997,318.799988,207.199997,321.700012,208.500000,10415694.0,17020777.0
2018-01-02,316.100006,208.500000,316.100006,208.500000,319.899994,209.699997,313.299988,207.399994,314.799988,209.250000,6838958.0,13638107.0
2017-12-29,314.799988,209.250000,314.799988,209.250000,318.100006,210.199997,311.100006,207.500000,315.700012,209.000000,4532631.0,8550820.0
2017-12-28,316.299988,208.399994,316.299988,208.399994,320.000000,210.050003,315.299988,207.800003,317.200012,209.250000,2699367.0,9611741.0

In [49]:

df.columns

MultiIndex(levels=[['MKS.L', 'TSCO.L'], ['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']],
           labels=[[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1], [0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5]],
           names=['minor', None])